<%- include('../includes/head')%>
</head>
<body>
    <!-- HEADER ===================== -->
    <%- include('../includes/header/header')%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <%- include('../includes/cart/orderStatus')%>
            </div>
            <div class="col-lg-3">
                <%- include('../includes/cart/orderStatus')%>
            </div>
            <div class="col-lg-3">
                <%- include('../includes/cart/orderStatus')%>
            </div>
        </div>
    </div>

<%-include('../includes/footer/foot')%>