<div class="col-lg-4 col-md-6">
  <div class="product">
    <div class="flip-container">
      <div class="flipper">
        <div class="front">
          <a href="/products/<%=product._id%>"
            ><img
              src="https://hyper-shop-admin.herokuapp.com<%=product.image%>"
              alt=""
              class="img-fluid"
          /></a>
        </div>
        <div class="back">
          <a href="/products/<%=product._id%>"
            ><img
              src="https://hyper-shop-admin.herokuapp.com<%=product.image%>"
              alt=""
              class="img-fluid"
          /></a>
        </div>
      </div>
    </div>
    <a href="/products/<%=product._id%>" class="invisible"
      ><img
        src="https://hyper-shop-admin.herokuapp.com<%=product.image%>"
        alt=""
        class="img-fluid"
    /></a>
    <div class="text">
      <h3><a href="/products/<%=product._id%>"><%=product.name%></a></h3>
      <p class="price"><del></del>$<%=product.price%></p>
      <p class="buttons">
        <a href="/products/<%=product._id%>" class="btn btn-outline-secondary">View detail</a>
        <button class="btn btn-primary addToCartBtn" id="<%=product._id%>">
          <i class="fa fa-shopping-cart"></i>Add to cart
        </button>
      </p>
    </div>
  </div>
</div>
